/* nav */


.navMenu {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    justify-content: center;
}

.navLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBar {
    font-size: 12px;
    margin: 10px;
    color: white;
}

/* footer */

.App footer {
    margin: 5rem 0;
}

/* clicked Evnet */
.currentPage {
    color: tomato;
}